



.overlay_menu
  .right
    .close x
  
  .list
    %div Case Studies
    %div Who we are
    %div Work with us



:css
  .overlay_menu{
    position: fixed;
    text-align: center;
    top: 0px;
    left: 0px;
    background: rgb(206, 54, 54);
    height: 100%;
    width: 100%;
    color: #fff;
    font-family: "DIN";
    text-transform: uppercase;
    font-size: 4em;
    line-height: 1.2em;
  }