

.home-features

  .feature
    .inner
      %h1 We Create Experiences.
      %h3 Adjust Creative partners with brands, educators & innovators to design and develop cutting-edge digital products with measurable results.


  .feature
    .inner
      %p Case Study
      %h1 Unique Experience, Complex Data
      %h3 The HIMSS Health IT Value Suite that we designed and developed was praised at the leadership level of the HIMSS and during a McKinsey audit was identified one of a few key pillars to build upon. Analytics provides backup in the form of data to these opinions—the Value Suite has astronomically higher statistics when compared to the rest of himss.org and industry averages.
      .space
      %button View Case Study

  .feature
    .inner
      %p Case Study
      %h1 Ground-up social education platform
      %h3 Together with The Entertainment Institute, we created a valuable and sustainable education & communication platform that helps artists be closer to their fans while keeping up with their demanding lifestyles with a year-round destination for the communities to thrive and interact in real-time with video chat & modern social features.
      .space
      %button View Case Study

  .feature
    .inner
      %p Case Study
      %h1 A Product Design Sprint.
      %h3 Peruse is our simple, but elegant mobile app, built to read design industry news from our favorite blogs, including: Awwwards, Invision, CreativeBloq, UX Booth, Designmondo, UX Movement, Dribbble, Smashing Magazine, Fast co.Design and our Adjust Creative Medium blog.
      .space
      %button View Case Study

  .feature
    .inner
      %p Case Study
      %h1 The future of your kitchen.
      %h3 We've been helping our friends at Tovala design an app for their multi-function smart oven and food-delivery service. We are hungry every time we go to their office.
      .space
      %button View Case Study


.home-services.lightbgblock
  .maxwidth
    %h1 What we're good at

    %p We are an agile product design agency. We use lean methods to create and develop interactive products and experiences with a people-first approach. Our team has the skills to take a project from concept to launch, but can also work just as effectively to augment a team in any of the capacities described below.
    .space
    %button View our Capabilities






:css
  .home-services{
    padding:40px 0px;
  }


  .home-features{
    position:relative;
    width:100%;
  }
  .feature{
    width:70%;
    background:rgba(0,0,0,0.4);
    padding:40px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:40px;
    text-align:center;
  }
  .feature .inner{
    max-width:800px;
    text-align:left;
  }





