


%article.staticcontent
  .maxwidth
    %h1 What We Do
    %p.italic We’re lean, agile, and we deliver results. You’ll look great with us.

  .space

  .lightbgblock
    .space
    .maxwidth
      %h2 Design & Development
      %p As a digital product studio we partner with companies of all sizes to help them innovate and scale. From MVP to production, we build beautifully designed, powerful, user-tested products that cut through the internet static.
      
      .space
      
      .align-right
        = link_to "/p/capabilities" do
          %button View our Capabilities

      .space

      %h2 Innovation
      %p It’s our <i>never stop learning</i> attitude that makes us leaders in user experience design and tech. Driving deep engagement keeps our partners’ products one step ahead when the margin between success and failure might be one less click
      %p Always excited to take on a new challenges whether from a client, our own curiosity or a problem needing solved—we’ve built multiple products to explore new technologies and deepen our understanding of user engagement. 

      .bold AviateRTC
      %p Real-time streaming video platform with text chat and moderation
      .bold Peruse: Design Industry News.
      %p Design industry news aggregator

      .space

      %h2 Ventures & Causes
      %p Occasionally, with the right startups or social impact organizations we make strategic investments. We recognize that consulting engagements can place a financial burden on startups or non-profits and offset this by offering reduced rates and possible partnerships

    .space


  .maxwidth
    .space
    %h2 Team
    %p We’re a nimble and powerful team that have devoted our lives to design. Our focus at Adjust Creative is interaction design, but our creative pursuits have been varied: design events, workshops, art installations, music production, performance art, and more.
    .space

  .lightbgblock
    .maxwidth
      .space
      %h4 Christopher Smith
      .italic.smalltext Co-Founder, Technology, Creative Direction
      %p Chris has 15+ years of experience in design, programming, music and mentorship. He has produced award winning work for clients like Disney, Porsche, Fox, Activision, Sony, Allstate, USAA, Warner Bros, and more.


      %h4 LeAnne Wagner
      .italic.smalltext Co-Founder, Creative Direction, User Experience
      %p LeAnne has 10+ years of design experience in startups, agencies, and as an independent consultant. She has been teaching design since 2007, currently Experience Design and Transmedia Storytelling at DePaul University.


      %h4 Mike Carpenter
      .italic.smalltext Co-Founder, Product Management, Information Architecture
      %p Mike has 10+ years of experience in marketing, design, and management, getting small business processes down to a science. He has spoken at World IA Day, Ignite, and led many creative discussions as moderator of Chicago Design Debates.
      .space


