


%article.staticcontent
  .maxwidth
    %h1 Our Capabilities
    %p We use lean methods to create and develop interactive products and experiences with a people-first approach. Our team has the skills to take a project from concept to launch, but can also work just as effectively to augment a team in any of the capacities described below.

  .space
  .lightbgblock
    .space
    .maxwidth
      .grid
        .col-1-3
          %h2 Strategy
          %div User Research
          %div Product Definition
          %div Marketing Strategy
          %div Brand Analysis
          %div Mobile Strategy
          %div Heuristic / Usability Analysis
          %div Go-to-market Consulting
          %div Rapid Prototyping

        .col-1-3
          %h2 Design
          %div Information Architecture
          %div Branding & Identity Design
          %div High-end graphics & illustration
          %div Goal-oriented User Interface Design (UI)
          %div Game Mechanics & Game Design
          %div Interactive video
          %div Interactive digital content

        .col-1-3
          %h2 Develop
          %div Full-stack development
          %div Solutions architecture
          %div Subscription, loyalty & CRM platforms
          %div Technical Consulting
          %div Content Management Systems (CMS)
          %div Global Ecommerce
          %div Mobile platforms (web & native)
          %div Systems & data integration
          %div Branded applications and IP
          %div Interactive kiosk & digital signage

      .space
      .space
      .grid
        .col-1-3
          %h2 Analysis
          %div Reporting & Analytics Implementation
          %div Influencer Marketing & Research
          %div Community & Early Adopters
          %div Conversion 
          %div Key Metric Success
          %div User Research & Interviews
          %div User Testing

        .col-1-3
          %h2 Marketing Strategy
          %div Social Media 
          %div Market & Web Landscape
          %div Location based Ads
          %div Objective Definition
          %div Tactical Approach
          %div Email Optimization
          %div Search Engine strategy & optimization (SEO & SEM)

        .col-1-3
          %h2 Education
          %div Immersive classroom teaching
          %div Workshop Curriculum
          %div Panel Discussion
          %div Presentation Public Speaking
          %div Panel Moderation
          %div Design Consultation
          %div Tutorial & Write-up Content
          %div Digital Learning Platforms
      .space
      .space


          
