.maxwidth

  = react_component("Article", { title: @page.title, subtitle: @page.subtitle, body: @page.body })


/ %h1= @page.title
/ %h3= @page.subtitle

/ %div Description: #{@page.description}
/ %div 
/   %div Body: 
/   %div= @page.body

