/* browser reset */a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{ outline:none !important; }


// colors
$bgcolor: #3e1a66;
$textcolor: white;

body{
  background: asset_url('adjust-creative-bg.jpg') $bgcolor;
  background-size: cover;
  color: $textcolor;
}


// fonts
body{ 
  font-family: Helvetica; 
  font-size:17px;
  line-height:1.4em;
}

// text
blockquote, .blockquote{
  border-left: 5px solid white;
  padding-left: 12px;
  margin-left: -16px;
}

strong, b, .bold{ font-weight:bold; }
em, i, .italic{ font-style:italic; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: bold; }

h6, .h6{ font-size: 1em; line-height: 1.2em; }
h5, .h5{ font-size: 1.1em; line-height: 1.2em; }
h4, .h4{ font-size: 1.2em; line-height: 1.2em; }
h3, .h3{ font-size: 1.3em; line-height: 1.2em; }
h2, .h2{ font-size: 1.5em; line-height: 1.2em;  }
h1, .h1{ font-size: 2em; line-height: 1.2em;  }

// links
a, a:link, a:visited{ color:white; }


// layout
.maxwidth{ width:100%; max-width:800px; margin-left:auto; margin-right:auto; }