.content-modifier-editor{
  background: rgba(0,0,0,0.9);
  border-radius: 5px;
  padding: 10px 10px;
  font-size:1.3em;
  font-weight: bold;
  white-space: nowrap;
  user-select:none;

  display:inline-block;
  position: absolute;
  top: 0px;
  left: 0px;

  div{
    cursor:pointer;
    display:inline-block;
    padding: 0px 13px;
    color:rgba(255,255,255,0.8);
  }

  div:hover{
    color:rgba(255,255,255,1);
  }

  .style-attr-lowercase{
    font-size:0.8em;
  }

  .fa{
    font-size: 0.8em;
    padding: 0px;
  }
}