@font-face {
    font-family: 'FreightSans';
    src: font-url('FreightSans.ttf');
}
@font-face {
    font-family: 'DIN';
    src: font-url('dincond-bold-webfont.ttf');
}
// @font-face {
//     font-family: 'HelveticaNeueLight';
//     src: url(../fonts/HelveticaNeueLTStd-Th.ttf);
// }
// @font-face {
//     font-family: 'HelveticaNeueThin';
//     src: url(../fonts/HelveticaNeueLTStd-UltLt.ttf);
// }


// fonts
body{ 
  font-family: "FreightSans", sans-serif !important;
  font-size:20px;
  line-height:1.4em;
}

// text
blockquote, .blockquote{
  border-left: 5px solid white;
  padding-left: 12px;
  margin-left: -16px;
}

strong, b, .bold{ font-weight:bold; }
em, i, .italic{ font-style:italic; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: bold; }

h6, .h6{ font-size: 1em; line-height: 1.2em; }
h5, .h5{ font-size: 1.1em; line-height: 1.2em; }
h4, .h4{ font-size: 1.2em; line-height: 1.2em; }
h3, .h3{ font-size: 1.3em; line-height: 1.2em; }
h2, .h2{ font-size: 2em; line-height: 1.2em;font-family: "DIN", sans-serif; text-transform:uppercase; }
h1, .h1{ font-size: 2.5em; line-height: 1.2em; font-family: "DIN", sans-serif; text-transform:uppercase; }

.eyebrow{ font-family: "DIN", sans-serif; text-transform:uppercase; font-weight:bold; opacity:0.5; }

// links
a, a:link, a:visited{ color:white; }