



input, textarea{
  width:100%;
  font-size:1em;
  line-height:1.4em;
  margin-top:5px;
  background:transparent;
  border:0px;
  color:#fff;
}

button, .button{
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid white;
  color: white;
  font-size: 0.8em;
  background: transparent;
}